<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2e7d9">  <td>18/12/04 15:20:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyLoginFunctionality.LogIn(java.lang.String, java.lang.String)[pri:0, instance:tests.verifyLoginFunctionality@57baeedf]">LogIn</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/12/04 15:21:05</td>   <td>15593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyLoginFunctionality.LogIn(java.lang.String, java.lang.String)[pri:0, instance:tests.verifyLoginFunctionality@57baeedf]">LogIn</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/12/04 15:21:21</td>   <td>31150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyLoginFunctionality.LogOut()[pri:0, instance:tests.verifyLoginFunctionality@57baeedf]">LogOut</td> 
  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/12/04 15:21:00</td>   <td>10232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSetup.TakeScreenshot(org.testng.ITestResult)[pri:0, instance:tests.verifyLoginFunctionality@57baeedf]">&lt;&lt;TakeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/12/04 15:21:16</td>   <td>25824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSetup.TakeScreenshot(org.testng.ITestResult)[pri:0, instance:tests.verifyLoginFunctionality@57baeedf]">&lt;&lt;TakeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/12/04 15:21:31</td>   <td>41213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSetup.TakeScreenshot(org.testng.ITestResult)[pri:0, instance:tests.verifyLoginFunctionality@57baeedf]">&lt;&lt;TakeScreenshot</td> 
<td>&nbsp;</td>  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/12/04 15:21:36</td>   <td>46493</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSetup.closeBrowser()[pri:0, instance:tests.verifyLoginFunctionality@57baeedf]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1386767190</td>   <td></td> </tr>
<tr bgcolor="beef9d">  <td>18/12/04 15:20:44</td>   <td>-6199</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserSetup.openApplication()[pri:0, instance:tests.verifyLoginFunctionality@57baeedf]">&gt;&gt;openApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1386767190</td>   <td></td> </tr>
</table>
