<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f4a68b">  <td>18/10/23 12:17:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BrowserSetup.openApplication()[pri:0, instance:tests.verifyLoginFunctionality@343f4d3d]">&gt;&gt;openApplication</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/10/23 12:17:32</td>   <td>4911</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyLoginFunctionality.LogIn(java.lang.String, java.lang.String)[pri:0, instance:tests.verifyLoginFunctionality@343f4d3d]">LogIn</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/10/23 12:17:35</td>   <td>8540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSetup.TakeScreenshot(org.testng.ITestResult)[pri:0, instance:tests.verifyLoginFunctionality@343f4d3d]">&lt;&lt;TakeScreenshot</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/10/23 12:17:40</td>   <td>13574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyLoginFunctionality.LogOut()[pri:0, instance:tests.verifyLoginFunctionality@343f4d3d]">LogOut</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/10/23 12:17:41</td>   <td>13583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSetup.TakeScreenshot(org.testng.ITestResult)[pri:0, instance:tests.verifyLoginFunctionality@343f4d3d]">&lt;&lt;TakeScreenshot</td> 
<td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="f4a68b">  <td>18/10/23 12:17:46</td>   <td>18589</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BrowserSetup.closeBrowser()[pri:0, instance:tests.verifyLoginFunctionality@343f4d3d]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/10/23 12:17:48</td>   <td>20653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyProfilePageNavigation.LogIn(java.lang.String, java.lang.String)[pri:0, instance:tests.verifyProfilePageNavigation@53b32d7]">LogIn</td> 
  <td>main@717386707</td>   <td></td> </tr>
<tr bgcolor="fbd876">  <td>18/10/23 12:17:48</td>   <td>20653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="verifyProfilePageNavigation.profileNavigation()[pri:0, instance:tests.verifyProfilePageNavigation@53b32d7]">profileNavigation</td> 
  <td>main@717386707</td>   <td></td> </tr>
</table>
