<h2>Reporter output</h2><table><tr><td>Browser : chrome, Version : chrome on OS : windows 10 launched</td></tr>
<tr><td>Reporter log started</td></tr>
<tr><td>Login was successful. Moving to next step</td></tr>
</table>